iframe{
  position: absolute;
  top: 0;
  border: 0;
  width: 50%;
}
.pad-css{
  left:50%;
  height: 100vh;
}
.pad-js{
  top:0vh;
  left:0%;
  height: 100vh;
}
.content{
  display: none;
  left:0;
  height:100vh;
  width: 50%;
}
.print-btn{
  position: absolute;
  right:51%;
  top: 1%;
  background:lime;
  z-index: 3;
  padding:4px 10px;
  color:black;
  border-radius: 5px;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}